<html>
    <head>
        <div class="container-fluid">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <h2>Туры по направлению {{destination}}:</h2>
        </div>
    </head>
    <body>
        <div class="container-fluid">
            {% for tour in tours %} {% if departure %}
            <p>{{tour.country}}: <a href="/tours/tour/">{{tour.title}} {{tour.price}} {{tour.stars}}*</a></p>
            {% endif %} {% endfor %}
            <a href="#" class="btn btn-success">Работает</a>
        </div>
    </body>
</html>
